<header class="main-header">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/news-list">News list</a></li>
            <li><a href="/admin/add-news">Add news</a></li>
            <li><a href="/admin/news-list">Admin news</a></li>
        </ul>
    </nav>
</header>