$background_color: lightgray;
$color_black: #000;
$color_white: #FFF;
$mask_text_color: #f1f1f1;
$fav_btn_color: #db0030;
$theme_gold: #EDBB00;
$theme_blue: #004D98;
$theme_burgundy: #A50044;
$theme_red: #DB0030;
$theme_yellow: #FFED02;
