<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum Add News Page</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li href="/">Home</li>
                <li href="/admin/add-news">Add news</li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Hello on the forum Add News Page!</h1>
        <form action="/admin/add-news" method="POST">
            <input type="text" name="title">
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>