.main-header {
    background-color: red;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

 .news {
    position: relative;
}

.mask {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  color: white;
  text-align: center;
  height: 100%;
}
