<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/home/home.css">
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <div class="container-fluid">
           <h1 class="text-center mb-3 mt-3">Hymn Klubu</h1>
           <div class="card">
            <img src="/img/anthem.jpg" class="card-img-top" alt="Stadium">
            <div class="card-body">
              <p class="card-text">Obecny hymn Barcelony został napisany z okazji obchodów 75. rocznicy istnienia Klubu. Słowa zostały napisane przez Josépa Marię Espina i Jaume Picasa. Muzykę skomponował Manuel Valls.</p>
              <h4 class="card-title">W języku katalońskim</h4>
              <p class="card-text">Tot el camp, és un clam<br>
                som la gent blaugrana, Tant se val d'on venim<br>
                si del sud o del nord<br>
                ara estem d'acord, ara estem d'acord,<br>
                una bandera ens agermana.<br>
                <br>
                Blaugrana al vent, un crit valent<br>
                tenim un nom, el sap tothom:<br>
                Barça , Barça, Baaarça.!<br>
                <br>
                Jugadors, seguidors, tots units fem força.<br>
                Son molt anys plens d'afanys,<br>
                son molts gols que hem cridat<br>
                i s'ha demostrat, i s'ha demostrat,<br>
                que mai ningu no ens podrà torcer<br>
                <br>
                Blau-grana al vent, un crit valent<br>
                tenim un nom, el sap tothom<br>
                Barça, Barça, Baaarça.</p>

              <h4 class="card-title">W języku polskim</h4>
              <p class="card-text">Cały stadion<br>
                Podnosi krzyk<br>
                Jesteśmy bordowo granatowi<br>
                Nieważne skąd pochodzimy<br>
                Czy z północy, czy z południa<br>
                Ale zgadzamy się, zgadzamy się<br>
                Flaga nas łączy<br>
                Bordowo granatowi na wietrze<br>
                Waleczny krzyk<br>
                Mamy imię i każdy je zna:<br>
                Barca, Barca, Barca<br>
                Gracze<br>
                Fani<br>
                Razem stajemy się silniejsi, coraz silniejsi<br>
                Przez wiele lat pełnych wysiłku i starań<br>
                Strzeliliśmy wiele goli<br>
                I to zostało pokazane<br>
                I to zostało pokazane<br>
                Nikt nas nie pokona<br>
                Bordowo granatowi na wietrze...</p>

            </div>
        </div> 
        </div>
    </main>
    <%- include('../includes/end.ejs') %>
