<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/home/home.css">
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <div class="container">
           <h1 class="text-center mb-3 mt-3">Historia Klubu</h1>
           <div class="card">
            <img src="/img/camp-nou.jpg" class="card-img-top" alt="Stadium">
            <figcaption class="figure-caption p-2">Photo by Mihai Vlasceanu from Pexels</figcaption>
            <!-- Photo by Mihai Vlasceanu from Pexels https://www.pexels.com/photo/field-sport-travel-olympic-4623974/ -->
            <div class="card-body">
              <h4 class="card-title">Początek</h4>
              <p class="card-text">Hans Gamper przeprowadził sie do Barcelony w 1898 roku. To właśnie on jest założycielem klubu FC Barcelona. 22 października 1899 roku umieścił ogłoszenie, w którym ogłosił nabór chętnych zawodników. Klub został założony 29 listopada 1899 roku. Akt założycielski podpisali: Walter Wild, Lluís d’Ossó, Bartomeu Terradas, Joan Gamper, Otto Kunzle, Otto Maier, Enric Ducal, Pedro Cabot, Carlos Pujol, Jose Llobet, John Parsons i William Parsons, a Wild został pierwszym prezydentem.</p>
              <p class="card-text">Od samego początku istnienia barwami FC Barcelony były bordowy i granatowy, a klubowym symbolem uczyniono miejski herb. W 1910 roku zarząd zorganizował konkurs na własny herb dla klubu. Zwycięzca chciał pozostać anonimowy a jego projekt po wielu zmianach nadal jest herbem katalońskiego klubu.</p>
              <h4 class="card-title">Złota era</h4>
              <p class="card-text">Tak nazwywa się okres historii klubu od 1919 roku do 1929 roku. W 1922 uzyskano nowy stadion Camp de Les Corts, który mógł pomieścić 30.000 kibiców.W tym okresie fani mogili oglądać takich zawodników jak Samitier, Alcántara, Zamora, Sagi, Piera czy Sancho, którzy swoją grą przyciągali tłumy. W 1929 roku rozegrano pierwszą serię zmagań o tytuł mistrza Hiszpanii a mistrzem została właśnie Fc Barcelona.</p>
              <h4 class="card-title">CAMP NOU</h4>
              <p class="card-text">Liczba fanów katalońskiego klubu stale rosła a dotychczasowy stadion stawał się zbyt mały. W tym czasie zarząd rozpoczął starania mające na celu znalezienie gruntów pod nowy, większy stadion. 24 sierpnia 1957 roku miało miejsce otwarcie nowego obiektu, który mógł pomieścić aż 90000 kibiców.</p>
              <h4 class="card-title">Johan Cruyff</h4>
              <p class="card-text">13 sierpnia 1973 za 922 000 funtów z Ajaksu Amsterdam został kupiony Johan Cruijff. Zawodnik miał też do wyboru Real Madryt, lecz wybrał Barçę. FC Barcelona zdobyła mistrzostwo hiszpanii, a w jednym z ostatnich meczów wygrała na wyjeździe 5:0 z Realem Madryt. Jak pokazała historia holender okazał się jedną z najważniejszych postaci w historii klubu.</p>
              <h4 class="card-title">Dream team</h4>
              <p class="card-text">W sezonie 1987/1988 trenerem został Luis Aragonés, który jednak nie umiał wprowadzić nowego nowego ducha w drużynę, co odbiło się na wynikach – 15 zwycięstw w lidze w sezonie uplasowało klub na szóstej pozycji w tabeli. W 1988 zawodnicy zarządali dymisji prezydenta Núñeza. Cała sprawa zakończyła się dużymi zmianami w składzie i pozostaniem prezydenta na stanowisku oraz zatrudnieniem jako trenera Johana Cruyffa. Jego zespół w latach 1991-94 zdobył 4 mistrzostwa z rzędu oraz pierwszy w historii Puchar Europy.</p>
              <h4 class="card-title">Pierwsza LM</h4>
              <p class="card-text">W 2006 roku zespół pod wodzą Franka Rijkaarda w tabeli Primera División uplasował się na pierwszej pozycji, a w paryskim finale Ligi Mistrzów pokonał Arsenal. </p>
              <h4 class="card-title">Era Pepa Guardioli</h4>
              <p class="card-text">Sezon 2008/2009 FC Barcelona rozpoczęła z nowym trenerem – Pepem Guardiolą. Jedną z jego pierwszych decyzji było sprzedanie dwóch podstawowych zawodników: Deco do Chelsea F.C. i Ronaldinho do A.C. Milan. Drużyna pod wodzą Guardioli przeszła do historii zdobywając pierwszą historii klubu potrójną koronę oraz zapisała się złotymi zgłoskami w historii światowego futbolu jako pierwszy klub, który w jednym roku zdobył sześć pucharów. Ten czas to również Lata 2008 - 2010 to także złoty okres futbolu młodzieżowego FC Barcelona. W czasie trzech sezonów Barça Atlètic (dzisiaj Barça B), trenowana najpierw przez Pepa Guardiolę (2007/08), a następnie Luisa Enrique (2008/09, 2009/10), awansuje (po 11 latach oczekiwania) z Tercera División do Segunda División A. W 2010 roku całe podium w plebiscycie ZŁotej Piłki zajmują gracze i wychowankowie Fc Barcelony: Lionel Messi, Andrés Iniesta i Xavi.</p>
            </div>
        </div> 
        </div>
    </main>
    <%- include('../includes/end.ejs') %>
