<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/home/home.css">
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <div class="container-fluid">
           <h1 class="text-center mb-3 mt-3">Trofea</h1>
           <div class="card">
            <img src="/img/camp-nou.jpg" class="card-img-top" alt="Stadium">
            <figcaption class="figure-caption p-2">Photo by Mihai Vlasceanu from Pexels</figcaption>
            <!-- Photo by Mihai Vlasceanu from Pexels https://www.pexels.com/photo/field-sport-travel-olympic-4623974/ -->
            <div class="card-body">
              <h6 class="card-title">Puchar Europy/Liga Mistrzów - 5</h6>
              <p class="card-text">Sezon 1991/92, 2005/06, 2008/09, 2010/11 i 2014/15</p>

              <h6 class="card-title">Puchar Interkontynentalny/Klubowe Mistrzostwa Świata - 2</h6>
              <p class="card-text">Rok 2009 i 2011</p>

              <h6 class="card-title">Puchar Zdobywców Pucharów - 4</h6>
              <p class="card-text">Sezon 1978/79, 1981/82, 1988/89 i 1996/97</p>

              <h6 class="card-title">Puchar Miast Targowych/Puchar UEFA/Liga Europy UEFA - 3</h6>
              <p class="card-text">Sezon 1955/58, 1958/60 i 1965/66</p>

              <h6 class="card-title">Superpuchar Europy - 5</h6>
              <p class="card-text">Rok 1992, 1997, 2009, 2011 i 2015</p>

              <h6 class="card-title">Mistrzostwo Hiszpanii - 25</h6>
              <p class="card-text">Sezon 1928/29, 1944/45, 1947/48, 1948/49, 1951/52, 1952/53, 1958/59, 1959/60, 1973/74, 1984/85, 1990/91, 1991/92, 1992/93, 1993/94, 1997/98, 1998/99, 2004/05, 2005/06, 2008/09, 2009/10, 2010/11, 2012/2013, 2014/15, 2015/16 i 2017/18</p>

              <h6 class="card-title">Puchar Króla (Copa del Rey) – 30</h6>
              <p class="card-text">Sezon 1909/10, 1911/12, 1912/13, 1919/20, 1921/22, 1924/25, 1925/26, 1927/28, 1941/42, 1950/51, 1951/52, 1952/53, 1956/57, 1958/59, 1962/63, 1967/68, 1970/71, 1977/78, 1980/81, 1982/83, 1987/88, 1989/90, 1996/97, 1997/98, 2008/09, 2011/12, 2014/15, 2015/16, 2016/17 i 2017/18</p>

              <h6 class="card-title">Superpuchar Hiszpanii – 12</h6>
              <p class="card-text">Rok 1983, 1991, 1992, 1994, 1996, 2005, 2006, 2009, 2010, 2011, 2013 i 2016</p>

              <h6 class="card-title">Puchar Ligi – 2</h6>
              <p class="card-text">Sezon 1982/83 i 1985/86</p>

              <h6 class="card-title">Puchar Łaciński (Copa Latina) – 2</h6>
              <p class="card-text">Sezon 1948/49 i 1951/52</p>

              <h6 class="card-title">Mistrzostwo Katalonii (Campeonato de Catalunya) – 23</h6>
              <p class="card-text">Sezon 1901/1902, 1902/03 1904/05, 1908/09, 1909/10, 1910/11, 1912/13, 1915/16, 1918/19, 1919/20, 1920/21, 1921/22, 1923/24, 1924/25, 1925/26, 1926/27, 1927/28, 1929/30, 1930/31, 1931/32, 1934/35, 1935/36 i 1937/38</p>

              <h6 class="card-title">Puchar Katalonii (Copa Catalunya) – 6</h6>
              <p class="card-text">Sezon 1990/91, 1992/93, 1999/00, 2003/04, 2004/05 i 2006/07</p>
              
            </div>
        </div> 
        </div>
    </main>
    <%- include('../includes/end.ejs') %>
