.user-box-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    padding-top: 15px;

    .user-card {
        overflow: hidden;
    }

    .logo-img {
        max-width: 60%;
        display: block;
        margin: 0 auto;
    }

    .btn-outline-success {
        color: $theme_gold;
        border-color: $theme_gold;

        &:hover {
            background-color: $theme_gold;
            color: $dark_gray_1;
            border-color: $dark_gray_1;
        }
    }
}

.main-news {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    
    .img-fluid {
        width: 100%;
        max-height: 426px;
    }
}

.home {
    .news-list {
        .content {
            .description {
                @media (max-width: 991px) {
                    display: none;
                }
            }
        }
    }
}
