.news-list {
    .item-box {
        &--link {
            display: block;
            height: 100%;

            .news {
                height: 100%;

                .img-fluid {
                    height: 100%;
                }
            }
        }
    }
}
